<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description" content="" />
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" /> -->
  <title>Life Cycle</title>
</head>
<body>
  <h1 class="title"></h1>
  <div id="main">
  	<h1>{{title}}</h1>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript">
    new vue({
      el: '#app',
      data:{
        users: ['Tom', 'Dick','Harry']
      },
      created(){
        console.log('created');
      },
      mounted(){
        console.log('mounted');
      }
    })
  </script> 
</body>
</html>