<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description" content="" />
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" /> -->
  <title>Ajax Live Search1</title>
</head>
<body>
  
  <div id="main">
  	<h1 class="title">{{title}}</h1>
  	<h2>Incomplete Tasks</h2>
  	<ul>
  		<li v-for="task in incompleted">{{task.description}}<button @click="finished(task)">finished</button></li>
  	</ul>

  	<h2>Completed Tasks</h2>
  	<ul>
  		<li v-for="task in completed" >{{task.description}}<button @click="redo(task)">Redo</button></li>
  	</ul>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript">
    new Vue({
    	el: '#main',
    	data: {
    		title: 'This is a Title',
    		tasks: [
    			{id: 1, description: 'Buy Milk' , completed: false},
    			{id: 2, description: 'Watch GOT Final Again' , completed: false},
    			{id: 3, description: 'Sen d Complaint Letters to GOT Producers' , completed: false},
    			{id: 4, description: 'Learn Vanilla Ajax' , completed: true}
    		]
    	},
    	// methods is for doing something
    	methods: {
    		finished: function(task){
    			task.completed = true;
    		},
    		redo: function(task){
    			task.completed = false;
    		}
    		// toggle: function(task){
    		// 	task.completed = !task.completed;
    		// }
    	},
    	computed: {
    		completed: function(){
    			return this.tasks.filter(function(task){
    				return task.completed == true;
    			});
    		},
	    	incompleted: function(){
	    		return this.tasks.filter(function(task){
	    			return task.completed == false;
	    		})
	    	}
    	}
    });
  </script> 
</body>
</html>