<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description" content="" />
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" /> -->
  <title>Ajax Live Search1</title>
</head>
<body>
  <h1 class="title"></h1>
  <div id="main">
  	<h1>{{title}}</h1>
  	<wdd-tasklist></wdd-tasklist>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript">
    Vue.component('wdd-tasklist',{
    	template: `<ul>
    	<task v-for="task in tasks">{{task.description}}</task></ul>`,
    	data: function(){
    		return {
    			tasks: [
	    			{id: 1, description: 'Buy Milk' , completed: false},
	    			{id: 2, description: 'Watch GOT Final Again' , completed: false},
	    			{id: 3, description: 'Sen d Complaint Letters to GOT Producers' , completed: false},
	    			{id: 4, description: 'Learn Vanilla Ajax' , completed: true},
	    			{id: 5, description: 'task 5', completed:true},
	    		]
    		}
    	}
    });

    Vue.component('task',{
    	template: `<li><slot>/slot></li>`
    });

    new Vue({
    	el: '#main',
    	data: {
    		title: 'this is title'
    	}
    });
  </script> 
</body>
</html>