<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description" content="" />
  
  <title>Ajax Live Search1</title>
</head>
<body>
  <h1 ></h1>
  <div id="main">
  	<h1>{{title}}</h1>
    <h2></h2>
    <ul>
      <li v-for="name in names">{{name}}</li>
    </ul>
    <ul>
      <li v-for="name in names" v-text="name"></li>
    </ul>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script >
    new Vue({
      el: '#main',
      data: {
        title: 'lists in vue',
        names: ['Harshjot','Sonia','Juan','Sidhant','Katie','LLyod','Krita']
      }
    })
  </script> 
</body>
</html>