<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta name="description" content="">
	<title>First Vue</title>
</head>
<body>
	<div id="main">
		<ul>
		<li v-for="name in names" v-text="name"></li>
		</ul>
		
	<input type="text" name="user" id="user" />&nbsp;<button v-on:click="addUser()">Add User</button>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<script>

	var app= new Vue({
	el:'#main',
	data:{
		title:'List in Vue',
		names:['Harshjot','Sonia','Sidhant','Juan','Katie','Lloyd','Krita']
		},
	methods:{
		addUser: function() {
			var name=document.getElementById('user').value;
			this.names.push(name);
			document.getElementById('user').value='';
		}
	}
	});

	</script>
</body>
</html>