<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description" content="" />
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" /> -->
  <title>Ajax Live Search1</title>
</head>
<body>
  <h1 class="title"></h1>
  <div id="main">
  	<h1>{{title}}</h1>
  </div>
  <div id="secondary">
  		<h2>{{title}}</h2>
  </div>

  <div id="footer">
  		<p>{{title}}</p>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript">
    new Vue({
	el:'#main',
	data:{
		title:'Title in Vue'
		}
	});

	new Vue({
	el:'#secondary',
	data:{
		title:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse		 	 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
		}
	});

	new Vue({
	el:'#footer',
	data:{
		title:'copyright by SOnia Verma'
		}
	});
  </script> 
</body>
</html>