<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <title>Ajax Live Search1</title>
</head>
<body>
  <h1 class="title"></h1>
  <div id="main">
  	<h1>{{title}}</h1>
  	<h2>{{reversed}}</h2>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript">
    var app = new Vue({
		el: '#main',
		data: {
			title: 'sonia verma'
		},
		computed:{
			reversed: function(){
				return this.title.split('').reverse().join('');
			}
		}
    });
  </script> 
</body>
</html>