<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <title>Ajax Live Search1</title>
</head>
<body>
  <h1 ></h1>
  <div id="main">
  	<h1 >{{title}}</h1>
  	<h1 >{{subtitle}}</h1>
  	<h1 >{{content}}</h1>
  </div>
  <!-- <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript">
    var app = new Vue({
    	el: '#main',
    	data:{
    		title: "My First Vue Script",
    		subtitle: "Vue reacts to changes in its Data Source",
    		content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse		 	 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non		proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    	}
    });
  </script> 
</body>
</html>