<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description" content="" />
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" /> -->
  <title>Ajax Live Search1</title>
</head>
<body>
  <!-- starting the main div with id app -->
    <div class="container">
		<div id="app">
		  	<h1>{{title}}</h1>
		  	<h2>{{text1}}</h2>
		  	<h2>{{text2}}</h2>
		  	<h2>{{text3}}</h2>
		  	<div v-html="para"></div>
		</div>
	</div>
  <!-- cdn for vue framework -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript">

  	// main Vue
    new Vue({
    	el: '#app',
    	data: {
    		title: 'In Assingment - Part 4 - Steve George',
    		text1: 'Vue - mounted',
    		text2: 'Vue - computed',
    		text3: 'Vue - created',
    		para: '<p>Lorem ipsum dolor sit amet,<strong> consectetur adipisicing elit, sed do eiusmodmpor</strong> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis<em> nostrud exercitation ullamco laboris</em> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa <a href="#">qui officia deserunt</a> mollit anim id est laborum.</p>'
    	}
    });
  </script> 
</body>
</html>