<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description" content="" />
  <!-- bulma css framework -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <title>Ajax Live Search1</title>
  <!-- styling -->
  <style type="text/css">
    .list{
      padding: 10px;
    }
  </style>
</head>
<body>
  <!-- starting the main div with id app -->
    <div class="container">
		<div id="app">
			<h1 class="title">{{heading}}</h1>
		  	<table class="table">
		  		<book  title="Dune" author="Frank Herber" genre ="Science Fiction"></book>
		  		<book title="Island" author="Peter Benchly" genre ="Thriller"></book>
		  		<book title="Under the Dome" author="Stephen King" genre ="Horror"></book>
		  		<book title="Past Tense" author="Lee Child" genre ="Mystery"></book>
		  	</table>
		</div>
	</div>
  <!-- cdn for vue framework -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript">
  	// vue components
  	Vue.component('book',{
  		props: ['title','author','genre'],
  		template : `<tr class="list"><td class="list"  v-text="title"></td><td  v-text="author" td class="list"></td><td  v-text="genre" td class="list"></td></tr>`
  	});


  	// main Vue
    new Vue({
    	el: '#app',
    	data: {
    		heading: 'Question 2 -- Table'
    	}
    });
  </script> 
</body>
</html>